
<footer class="bg-secondary text-white">
  <div class='container'>
  	<div class='row'>
    	<div class='col my-5'>
    		<p class="text-center">© All rights reserved by Infratop.Inc.</p>
    	</div>
    </div>
  </div>
</footer>